<template name="post_page">
	{{#if canView}}
  <div class="single-post grid">
    {{#with post}}
     {{> post_item}}
    {{/with}}
    {{#if canComment}}
      {{> comment_form}}
    {{/if}}
    {{> comment_list}}
  </div>
  {{/if}}
  <div class="meteor-book desktop">
      <span class="sponsor">Check out our book:</span>
      <div class="inner">
        <a class="book" href="http://themeteorbook.com" target="_blank">
          <img src="/img/meteor_book_illustration2.png">
        </a>
        <h4><a href="http://themeteorbook.com" target="_blank">The Meteor Book</a></h4>
        <p><a href="http://themeteorbook.com" target="_blank">Tutorials and tips to get started with Meteor.</p>
      </div>
    </div>
    <div class="overlay hidden"></div>
  </div>
</template>
