<template name="footer">
  {{#if footerCode}}
  <div class="footer grid {{footerClass}}" style="top: {{distanceFromTop}}px">
    {{{footerCode}}}
  </div>
  {{/if}}
    <div class="meteor-book desktop">
    {{#constant}}
      <span class="sponsor">Check out our book:</span>
      <div class="inner">
        <a class="book" href="http://themeteorbook.com" target="_blank">
          <img src="/img/meteor_book_illustration2.png">
        </a>
        <h4><a href="http://themeteorbook.com" target="_blank">The Meteor Book</a></h4>
        <p><a href="http://themeteorbook.com" target="_blank">Tutorials and tips to get started with Meteor.</p>
      </div>
    </div>
    {{/constant}}
  </div>
</template>